<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BreathWork.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95EEB04A2C1C8C80009CF84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EEB05B2C1C8C81009CF84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EEB0652C1C8C81009CF84C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
